@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap: 100,200,300,400,500,600,700");


body {
    font-family: "Lexend Maga", sans-serif;
    margin: 0;
    padding: 0;
}

/*----------------Navbar----------*/

.logo {
    font-family: "Lexend Maga", sans-serif;
    color: #00DD00;
    padding-top: 15px;
    margin-left: 25px;
    text-decoration: none;
}

.navbar .logo:hover {
    text-decoration: none;
}

a:hover,

a:active,

a:focus,

a:active:focus{
    color: white;
}

a.logo :hover {
    color: white;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,

.navbar-dark .navbar-nav .nav-link:active,

.navbar-dark .navbar-nav .nav-link:focus,

.navbar-dark .navbar-nav .nav-link:active:focus {
    color: #00DD00;
}

.login {
    color: white;
}

.login:hover,

.login:active,

.login:focus,

.login:active:focus {
    color: #00DD00;
    text-decoration: none;
}

.navbar .signin:hover {
    text-decoration: none;
    cursor: pointer;
}


/*----------------Buttons----------*/

.btn-set {
    font-weight: bold;
    border-radius: 1.4375rem;
}

.btn-green {
    background-color: #00DD00;
    border-color: #00DD00;
    color: white;
}

.btn-green:hover,

.btn-green:active,

.btn-green:focus,

.btn-green:active:focus {
background-color: #df2984;
border-color: #df2984;
color: white;
}


/*----------------Paddings/Margins/Text----------*/

.justify-content-end {
    padding-right: 40px;
}

.signin {
    padding-left: 20px;
}

.intro {
    margin: 30px 0 30px 0;
    padding-top: 15px;
}

.main {
    padding-left: 22px;
    padding-right: 22px;
}

.main h2 {
    text-transform: uppercase;  
    text-align: center;
    font-size: 1.625rem; 
}

.join-now {
    margin: 30px 0 30px 0;
    padding-top: 18px;
}

.apps {
    color: #343a40;
}

.apps:hover,

.apps:active

.apps:focus

.apps:active:focus {
    text-decoration: none;
    color: #00DD00;
}


/*----------------Circles----------*/

.rounded-circle {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.circles {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #343a40;
}

.pics {
    width: 33%;
}

.media {
    width: 100%;
    margin: 0 auto;
}


/*----------------Footer----------*/

footer {
    background-color: #343a40;
    color: white;
    margin: 0;
}

footer h4 {
    font-size: 1.5625rem;
}

#footer-info {
    padding: 20px 0 10px 0;
}

.times {
    text-align: center;
}

.contact {
    text-align: center;
}

.social {
    text-align: center;
}

.social-networks {
    padding-top: 10px;
}

.sociallink {
    color: white;
    font-size: 2rem;
    padding: 10px;
}

.sociallink:hover,

.sociallink:active,

.sociallink:focus,

.sociallink:active:focus {
    color: #00DD00;
}


/*----------------Modal----------*/

.modal-title {
    text-align: center;
    font-weight: bold;
}

.submit {
    background-color: #00DD00;
    border-color: #00DD00;
}


/*----------------Tables----------*/

/*---Code below to style table taken from Stackoverflow.com - Bootstrap CSS - Change Table Border Colours---*/
.table-bordered {
    border: 0.125rem solid #343a40;
}

.table-bordered td, .table-bordered th{
    border: 0.125rem solid #343a40;
}

.table {
    text-align: center;
    margin: 15px 0 30px 0;
}


/*----------------Index----------*/

.callouttext {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
}

.thegym {
    margin: 0 8px 0 8px;
}

.thegym p {
    text-align: center;
}

.ethos {
   margin: 0 auto 
}

.ethos p {
    text-align: center;
}

.gym-great {
    margin: 20px 0 20px 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*-----Image-----*/

.hero-image {
    background: url("../images/gymhero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}


/*----------------Classes----------*/

.calloutclasses {
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
}

.joinclass {
    padding-top: 20px;
}

.testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
}

.userquotes {
    margin: 0 auto
}

.userquotes p {
     text-align: center;
     font-style: italic;
 }


/*----------------Whatweoffer----------*/

.calloutoffer {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 30px 0;
}

.quotessection {
    padding-top: 30px;
    margin: 20px 0 30px 0;
}

.quotes {
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;  
}

.quotes p {
    font-style: italic;
    font-size: 0.875rem;
    text-align: center;
}

.card-deck {
    margin: 15px -15px 15px -15px;
}

.card-body h5 {
    font-weight: bold;
}

.card-body h5, p {
    text-align: center;
}

.card-img-top {
    object-fit: cover;
    height: 14.9375rem;
}

/*-----Icons-----*/

.icon {
    margin: 20px 0 20px 0;
}

.iconlist {
    margin: 15px 0 10px 0;
}

.icon li{
    margin-left: 60px;
    margin-right: 60px;
}

.icon i {
    font-size: 160%;
}

/*-----Map-----*/

h6 {
    text-align: center;
    font-weight: bold;
}

#map-wrapper {
height: 200px;
margin-bottom: 30px;
}

#map-wrapper h6 {
    margin-bottom: 19px;
}

#map {
border: none;
}


/*----------------Media Query----------*/

@media(max-width: 540px) {
    .callouttext,
    .calloutclasses,
    .calloutoffer {
        font-size: 1.25rem;
    }
}

@media(max-width: 540px) {
    .icon li {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media(max-width: 540px) {
    .btn-green {
        margin-top: 15px;
    }
}