@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap: 100,200,300,400,500,600,700|Roboto: 100, 200, 300, 400, 500, 600, 700');


/*----------------Colours----------*/

body {
    font-family: 'Lexend Maga', sans-serif;

}



/*----------------Buttons----------*/

.btn-set {
    font-weight: bold;
    border-radius: 23px;
}

.btn-green {
    background-color: #00DD00;
    border-color: #00DD00;
    color: white;
}

.btn-green:hover,

.btn-green:active,

.btn-green:focus,

.btn-green:active:focus {

background-color: #df2984;

border-color: #df2984;

color: white;

}


/*----------------Paddings/Margins/Text----------*/

body {
    margin: 0;
    padding: 0;
}

.justify-content-end {
    padding-right: 40px;
}



.callouttext {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
}

.calloutclasses {
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
}

.joinclass {
    padding-top: 20px;
}

.join {
    font-weight: bold;
}

.signin {
    padding-left: 20px;
}


.intro {
    padding-top: 30px;
}


.thegym {
    margin: 0 auto
}

.thegym p {
    text-align: center;
}

.main {
    padding-left: 8px;
    padding-right: 8px;
}

.main h2 {
    text-transform: uppercase;  
    text-align: center;
    font-size: 26px; 
}

.ethos {
   margin: 0 auto 
}

.ethos p {
    text-align: center;
}

.quotes {
    padding-left: 8px;
    padding-right: 8px;  
}


.quotes p {
    font-style: italic;
    font-size: 14px;
}

.gym-great {
    padding-top: 30px;
    padding-bottom: 30px;
}

.join-now {
    padding-top: 30px;
    padding-bottom: 30px;
}

.testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
}

.userquotes {
    margin: 0 auto
}

.userquotes p {
     text-align: center;
     font-style: italic;
 }

.quotessection {
    padding-top: 30px;
}

.quotes {
    margin: 0 auto;
}

.quotes p {
    text-align: center;
}


.equipment li {
    display: inline;
    font-size: 25px;
}

.equipment  {
    padding: 0%;
    margin: 0 auto;   
}

.equipment i {
    padding: 0%
}

/*----------------Navbar----------*/


.logo {
    font-family: "Lexend Maga", sans-serif;
    color: #00DD00;
    padding-top: 15px;
    padding-left: 90px;
    text-decoration: none;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.signin {
    color: white;
}




/*----------------Circles----------*/



.rounded-circle {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.circles {
    padding-top: 30px;
    background-color: #433961;
}

.pics {
    width: 33%;
}

.media {
    width: 100%;
}



/*----------------Images----------*/

.hero-image {
    background: url("../images/gymhero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}



/*----------------Tables----------*/

.table-bordered {
    border: 2px solid #343a40;
}


.table-bordered td, .table-bordered th{
    border: 2px solid #343a40;
}

.table {
    text-align: center;
}



/*----------------Map----------*/

h6 {
    text-align: center;
    font-weight: bold;
}

#map-wrapper {
height: 200px;
margin-bottom: 30px;
}

#map {
border: none;
}


/*----------------Icons----------*/


.iconitem {
    text-align: center;
    padding: 0px;
    margin: 0px;
}




/*----------------Footer----------*/

footer {
    background-color: #343a40;
    color: white;
    margin: 0;
}

footer h4 {
    font-size: 25px;
}

.social-networks {
    padding-top: 10px;
}

.sociallink {
    color: white;
    font-size: 32px;
    padding: 10px;
}


/*----------------Modal----------*/

.modal-title {
    text-align: center;
    font-weight: bold;
}





